// Bootstrap
@import '~bootstrap/scss/bootstrap';

section {
    margin-bottom: 30px;
}

.every_year_event {
  background-color: #0062cc;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.notification-event {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  left: 500px;
  -webkit-animation: slideIn 22s linear;
  -moz-animation: slideIn 22s linear;
  animation: slideIn 22s linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(1500px);
  }
}

.create-event {
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 50px;
}

.row {
    justify-content: center;
}


.filter-input {
    margin-right: 40px;
}

.table a {
    text-decoration: none;
    color: black;
}

//show

#card-box {
    color: black;
    margin-top: 15px;
}

.card {
    height: 18rem;
    background-color: lightblue;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width: 578px) {

    .filters-list {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {
    .every-year {
        display: none;
    }

    .filter-input {
        margin-right: 10px;
    }

    .event-list {
        display: block;
    }
}
